html
	head
		meta(http-equiv='refresh', content='2;url=/')
		title 

	body
		include nav.pug
		h1 Thank you, message send to Bulletin Board
		



	style.
		@import "http://fonts.googleapis.com/css?family=Ubuntu";
			h1 {
			font-family:'Ubuntu',sans-serif;
			text-align:center;
			}